<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>{{ result }} {{count}} times</div>
        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=true @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button><br>

        <boom-button :is-bomb=true @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=true @bomb="bomb" @click='clickBomb'></boom-button><br>

        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button>
        <boom-button :is-bomb=false @bomb="bomb" @click='clickBomb'></boom-button>
        
    </div>
    <script type="text/x-template" id="boom-button">
        <button @click="open" style="width: 25px; height: 25px;">{{value}}</button>
    </script>
    <script>
        Vue.component("boom-button",{
            props: {
                isBomb: Boolean
        },
            data: function() {
                return {
                    value: '-',
                    clicked: false
                };
            },
            methods: {
                open: function() {
                    if(this.clicked) return;
                    this.clicked = true;
                    console.log(this.isBomb);
                    this.$emit('click');

                    if(!this.isBomb) return;
                        console.log(this.isBomb)
                        this.value='*';
                        this.$emit('bomb');
                    
                }
            },
            template: '#boom-button',

        });
        var app = new Vue({
            el: '#app',
            data: {
                result: '',
                count: 0
            },
    
            methods: {
                clickBomb: function() {
                    this.count++
                },
                bomb: function() {
                    console.log('bomb')
                    this.result = 'You lose!!'
                } 
            }
            
        });
       
    </script>
    
</body>
</html>